<header class="site-header">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-lg-3  text-center">
				<a class="site-logo" href="/">
					Logic <span><br class="hidden-xs">and</span> Life
				</a>

				<p class="site-logo__byline visible-xs">You need the definition of words to get
					<br class="visible-lg-inline">to the meaning of life. This site is the search and the answer.</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-lg-9">
				<div class="search">
					<label class="search__label sr-only" for="searchMe"></label>
					<input type="text" class="search__input form-control input-lg" id="searchMe" placeholder="Type to search">
					<ul id="resultMe" class="search__results"></ul>
				</div>
			</div>

		</div>
	</div>

	<div class="site-header__byline-wrapper hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<blockquote class="site-logo__byline ">
					"You need the definition of words to get to the meaning of life. This site is the search and the
					answer."</blockquote>
				</div>
			</div>
		</div>
	</div>

</header>
